<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <a href="/"><div class="logo">
            <img class="book" src="https://i.imgur.com/oUVHIvg.png"><h1>Bookly</h1>
        </div></a>
        <nav class="black">
            <%- include ('./partials/nav.ejs') %>
        </nav>
        <div class="posts">
            <ul>
                <% for(let i = 0; i < posts.length; i++){ %>
                    <li><br>
                        <a href="/posts/<%=posts[i].id; %>">
                        <%=posts[i].title; %> </a><br>
                        <%=posts[i].chapters; %>
                    </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>
